@import "reset";
@import "variables";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: #555;
}